altair== 5.2.0
snowflake-connector-python==3.7.0
snowflake-sqlalchemy==1.5.1
snowflake-snowpark-python[pandas]==1.9.0
numpy
pandas
matplotlib
seaborn
openai==0.28.0
streamlit_chat== 0.1.1
langchain==0.0.124
pinecone-client==2.2.1
sqlalchemy==1.4.51
faiss-cpu==1.7.4
